<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.borzov.num2text</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>041F39CE-F278-45B9-BDBF-AA8119457AF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C0DFA92-3CCA-4507-B167-1AD69604601C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FD825A8-4177-46C8-94AF-68CF53FB5272</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C35070-AE7A-4196-8B64-C124FAFF0A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C0DFA92-3CCA-4507-B167-1AD69604601C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C35070-AE7A-4196-8B64-C124FAFF0A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35C35070-AE7A-4196-8B64-C124FAFF0A5D</key>
		<array/>
		<key>63F762D5-51ED-463A-BFE8-CDC6E0B8EE4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C0DFA92-3CCA-4507-B167-1AD69604601C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Maxim Borzov</string>
	<key>description</key>
	<string>Generate digits to text string in russian</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Number to text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>041F39CE-F278-45B9-BDBF-AA8119457AF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f script.php "n2t" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C0DFA92-3CCA-4507-B167-1AD69604601C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>n2t</string>
				<key>subtext</key>
				<string>Generate {query} to text string in russian</string>
				<key>text</key>
				<string>Number to text</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63F762D5-51ED-463A-BFE8-CDC6E0B8EE4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>35C35070-AE7A-4196-8B64-C124FAFF0A5D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>nds</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Generate {query} to text string in russian...</string>
				<key>script</key>
				<string>php -f script.php "nds" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Number to text with NDS</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1FD825A8-4177-46C8-94AF-68CF53FB5272</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Creating a text string from a number in Russian. Convenient for preparing financial documents.</string>
	<key>uidata</key>
	<dict>
		<key>041F39CE-F278-45B9-BDBF-AA8119457AF2</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>1FD825A8-4177-46C8-94AF-68CF53FB5272</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>2C0DFA92-3CCA-4507-B167-1AD69604601C</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>35C35070-AE7A-4196-8B64-C124FAFF0A5D</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>63F762D5-51ED-463A-BFE8-CDC6E0B8EE4B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://maxborzov.com</string>
</dict>
</plist>
